{{ if .Params.lineage }}
<div class="lineage-list">
  {{ range .Params.lineage }}
  <div class="lineage-row">
    {{ if .photo }}
    <div class="lineage-photo"><img src="{{ .photo }}" alt="Portrait of {{ .name }}" loading="lazy"></div>
    {{ else }}
    <div class="lineage-photo" aria-hidden="true"><span>Photo</span></div>
    {{ end }}
    <div class="lineage-row-body">
      <div class="l-name">{{ .name }}</div>
      <div class="l-dates">{{ .dates }}</div>
      <p class="l-desc">{{ .description }}</p>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
{{ if .Params.precepts }}
<div class="precepts-list">
  {{ range .Params.precepts }}
  <div class="precept-item">
    <div class="p-num">{{ .num }}</div>
    <div>
      <div class="p-jp">{{ .jp }}</div>
      <div class="p-en">{{ .en }}</div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
