{{ $key := .Params.illustration }}
{{ if eq $key "hub" }}
<section class="illustration-band">
  <div class="grain"></div>
  <div class="illustration-row">
    {{ range (slice (dict "key" "karate" "label" "Karate") (dict "key" "kobudo" "label" "Kobudo") (dict "key" "kungfu" "label" "Kung Fu")) }}
    {{ $label := .label }}
    <div class="illustration-icon">
      {{ with resources.Get (printf "images/illustrations/%s.png" .key) }}
      <img class="icon-img" src="{{ .RelPermalink }}" alt="">
      {{ end }}
      <span class="icon-label">{{ $label }}</span>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
